# Unwanted compiled files
node_modules
out/test/**
out/**/*.map
*.vsix

# Build/Source files
# src/**
src/**/*.ts
tasks/**
test/**
typings/**
packages/**
samples/**
.gitignore
tsconfig.json

# IDE Settings
.vscode/**
.vscode-test/**
.idea/**
.azuredatastudio/**

# Reference files
**/*.ts
**/*.map
.gitignore
tsconfig.json
*.exe
*.dat
gulpfile.js
images/managed_instance.png